.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    min-height: 80vh;
}

.profile-container {
    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.329);
    max-width: 1100px;
    width: 100%;
    position: relative;


    .profile-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        display: flex;
        align-items: baseline;
        margin-bottom: 0.5rem;
        color: #333;
        word-break: break-all;

    }

    strong {
        margin-right: 0.4rem;
        color: rgb(29, 28, 28);

    }

}