@import "tailwindcss";
.app-container {
  max-width: 1500px; 
  margin: 0 auto;
  padding: 2rem;
} 
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #eeeeee;
  margin: 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn-save {
  background-color: #24527a ;
  color: white;
} 
  .btn-save:hover {
    background-color: #1a3a57;
  }

.btn-cancel {
  background-color: #394a51 ;
  color: white;
}

  .btn-cancel:hover {
    background-color: #2a353a;
  }

  .btn-danger{
    background-color: #e60d23e7;
    color: white;
  }
  .btn-danger:hover{
    background-color: #a1111f ;
  }



.btn-add {
  display: inline-block;
  /* width: 155px; */
  /* margin: 1rem 2rem; */
  border-radius: 8px;
  padding: 0.5em 1em;
  font-weight: 500;
  background-color: #113453;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s; 
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
}
/* 132743
  border-color: #24527a;
  background-color: #113453;
 */
.btn-add:hover {
  border-color: #113453;
  background-color: #1c4263;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: rgb(31, 30, 30);
}

input,
textarea,
select {
  width: 70%;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  border: 1px solid lightslategrey;
}


.form-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.form-actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
